---
layout: default
---

<section id="athlete_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Athlete Platorm</h1>
            </div>
        </div>
    </div>
</section>

<section id="checklist">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Launch Checklist >></h2>
            </div>
        </div>
    </div>
</section>


<!-- Begin Body -->
<div class="container">
    <div class="row">
        <div class="col-md-3" id="leftCol">

            {% include sidenav.html%}

        </div>  
        <div class="col-md-9">
            {% include font.html %}

            {% include newsletter.html %}

            {% include gallery.html %}

            {% include verification.html %}

            {% include analytics.html %}

            {% include facebook.html %}

            {% include meta.html %}

            {% include facebook-refresh.html %}

            {% include page.html %}

            {% include disqus.html %}

            {% include twitter.html %}

            {% include launch.html %}

            {% include mx.html %}

        </div> 
    </div>
</div>