
            <ul>    
                <li>1. Open marketing@anthro.is google analytics account.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-1_zps52a8c62f.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-1_zps52a8c62f.png~original"  alt=" "></a>

                <li>2. Admin → click on drop down for account --> create new account. </li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-3_zps4ccc6b77.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-3_zps4ccc6b77.png~original"  alt=" "></a>
                <li>3. Fill in forms for name, website URL, etc. The website URL should be the finalized domain, not the Shopify url. Select Sports for the industry. Scroll down and Get Tracking ID once completed.</li> 
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-4_zpsb94711c8.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-4_zpsb94711c8.png~original"  alt=" "></a>
                <li>4. Copy tracking script. <script> … </script>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-6_zps07dfd94b.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-6_zps07dfd94b.png~original"  alt=" "></a>
                <li>5. Open Shopify account and select settings. Scroll down to the Google Analytics section and paste in the script.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-7_zps8d77e3d1.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-7_zps8d77e3d1.png~original"  alt=" "></a>
                <li>6. Double check that UA Tracking Number is the same on Google Analytics page and Shopify page.</li> 
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-8_zpsf1b2001e.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-8_zpsf1b2001e.png~original"  alt=" "></a>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-9_zps292c88fc.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-9_zps292c88fc.png~original"  alt=" "></a>
                <li>7. After 24 hours of launch, log into Google Analytics and make sure that data is being grabbed.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-10_zpsa1d53283.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/analytics-10_zpsa1d53283.png~original"  alt=" "></a>
            </ul>




            <hr>