
            <ul>
                <li>1. Log into disqus using abhi's account. After logging in, you may need to click Login at the top right corner again (disqus bug).</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-1_zps21f674a6.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-1_zps21f674a6.png~original"  alt=" "></a>

                <li>2. Select the admin panel.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-2_zps56fe87c0.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-2_zps56fe87c0.png~original"  alt=" "></a>

                <li>3. Select the dropdown located on the left hand panel, and select the option to Add A New Site.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-3_zps4ee761dd.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-3_zps4ee761dd.png~original"  alt=" "></a>

                <li>4. Fill the information for the Athlete, and select Sports as the category.
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-4_zpsdbc32f16.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-4_zpsdbc32f16.png~original"  alt=" "></a>

                <li>5. Select the General tab located to the left.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-5_zpsd47d8ae4.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-5_zpsd47d8ae4.png~original"  alt=" "></a>

                <li>6. Scroll down and copy the shortname. Enter this into the theme settings for Shopify.
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-6_zps2936640a.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/disqus/disqus-6_zps2936640a.png~original"  alt=" "></a>

            <ul>