
            <ul>
                <li>1. In order to refresh the information seen when posting a new athlete, visit <a href="https://developers.facebook.com/tools/debug/">Facebook Debugger</a> and paste the respective url information.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fb-1_zps25fcd6c2.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fb-1_zps25fcd6c2.png~original"  alt=" "></a>
            </ul>