<h2 id="sec4">Facebook Pixel</h2>
            <ul>
                <li>1. Loginto Ninjas@anthro.is facebook account</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-1_zpsb4fe6aa2.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-1_zpsb4fe6aa2.png~original"  alt=" "></a>

                <li>2. Select Anthro Interactive LLC</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-2_zps99ef4964.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-2_zps99ef4964.png~original"  alt=" "></a>
                <li>3. Select Conversion Tracking from the side menu</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-3_zpsc1a7d068.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-3_zpsc1a7d068.png~original"  alt=" "></a>
                <li>4. Select Checkouts as the Category, and supply the pixel name.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-4_zpse26e32de.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-4_zpse26e32de.png~original"  alt=" "></a>
                <li>5. Copy the generated script</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-5_zps45f9911b.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-5_zps45f9911b.png~original"  alt=" "></a>
                <li>6. Pase the script into Shopify at General, Settings, Checkout, and additional scripts section</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-6_zps71bb17b2.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fb/fbp-6_zps71bb17b2.png~original"  alt=" "></a>

            <hr>