<h2 id="sec0">Request A New Font</h2>
            <p>If the font desired for a specific athlete is not available among the list in the theme settings, follow the below to aquire and submit a new font.</p>
            <ul>
                <li>1. Search & download the .ttf version of the font online.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fonts/font-1_zps96efaab5.png~original" title=" "><img class="condensed img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fonts/font-1_zps96efaab5.png~original"  alt=" "></a>

                <li>2. Convert the .ttf version of the font to a .otf version (use everythingfonts.com/ttf-to-otf</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fonts/font-2_zpseeb86314.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/fonts/font-2_zpseeb86314.png~original"  alt=" "></a>

                <li>3. Submit .otf to the developers</li>
            </ul>





            <hr class="col-md-12">