
            <h3>Gallery</h3>
                <p>To create a gallery/galleries for a new athlete:</p>
                <ul>
                    <li>1. Log into Flickr and navigate to the Photostream option.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-1_zps7497ae9e.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-1_zps7497ae9e.png~original"  alt=" "></a>

                    <li>2. Create a New Album.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-2_zps2c4df6c0.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-2_zps2c4df6c0.png~original"  alt=" "></a>

                    <li>3. Give the New Album a Name and drag the images into the album.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-35_zps6c37bb8d.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-35_zps6c37bb8d.png~original"  alt=" "></a>

                    <li>4. Once the album is created, select "Batch Edit", then select "Add Tag" to give every image a very unique ID tag.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-4_zpsf85ad4ef.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-4_zpsf85ad4ef.png~original"  alt=" "></a>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-6_zps52ace28f.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-6_zps52ace28f.png~original"  alt=" "></a>

                    <li>5. To add the gallery onto the website, navigate to the backend and create the page "Me" (or whatever gallery is relevant). In the "Content" box, select the "<>" tags for html, pase in the tag used in Flickr.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-7_zps8e5994fe.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/flickr/flickr-7_zps8e5994fe.png~original"  alt=" "></a>

                    <li>6. To select the cover photo, upload an image that is 900x600 to photobucket and provide developers with the image link.</li>
                </ul>
            <h3>Video</h3>
                <p>To create a video gallery for a new athlete:</p>
                <ul>
                    <li>1. Log into Vimeo and upload the athlete video</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-1_zps93ccafdd.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-1_zps93ccafdd.png~original"  alt=" "></a>

                    <li>2. Select Done and Go to Video</li>

                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-3_zps5074f801.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-3_zps5074f801.png~original"  alt=" "></a>

                    <li>3. Scroll down and add the .myshopify.com and live domain URL information into seperate rows.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-4_zps2a7932d9.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-4_zps2a7932d9.png~original"  alt=" "></a>

                    <li>4. Select the Embed option for the video. On this page, select the Preset dropdown and set it to "anthro Private". Scroll down and save.</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-5_zpsc8423682.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-5_zpsc8423682.png~original"  alt=" "></a>

                    <li>5. Select Videos at the top menu and create a group. Give the group the website name and add any videos related to that group.
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-6_zps91d78b91.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-6_zps91d78b91.png~original"  alt=" "></a>

                    <li>6. Select Save and submit the top link to the developers to add for videos</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-7_zps5ec73ebc.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/vimeo/vimeo-7_zps5ec73ebc.png~original"  alt=" "></a>

                    <li>7. To select the cover photo, upload an image that is 900x600 to photobucket and provide developers with the image link</li>
                </ul>


            <hr>