
            <ul>To activate the athlete website,
                <li>1. Visit the admin panel in shopify and navigate to Settings, Domain. Select Add Existing domain at the top and fill out the domain without www first.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-a_zpsd5059a9a.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-a_zpsd5059a9a.png~original"  alt=" "></a>

                <li>2. Read the instructions carefully. Copy the listed IP to edit the A record.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-b_zpsec973a94.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-b_zpsec973a94.png~original"  alt=" "></a>

                <li>3. To get the DNS records, log into netfirms (or whatever the domain registration is) and navigate to DomainCentral</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-1_zps9807b162.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-1_zps9807b162.png~original"  alt=" "></a>
                <li>4. Navigate to the domain and select the domain to open its sub-menus.</li>
                 <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-2_zps4b70524c.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-2_zps4b70524c.png~original"  alt=" "></a>

                <li>5. Select the option labeled DNS.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-8_zps879c58a1.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-8_zps879c58a1.png~original"  alt=" "></a>
                
                <li>6. In the Modify drop down, select the A record. From the instructions, paste in the IP address for the Points To: field for the A Record. IF the website is NOT a site transfer, delete all information in the A record except the athlete url (markuswheaton.com) and the value * (means all). Both records should point to the specified shopify IP.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-5_zps3fec4fdf.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-5_zps3fec4fdf.png~original"  alt=" "></a>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-6_zpsece47bf3.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-6_zpsece47bf3.png~original"  alt=" "></a>

                <li>7. Return to the domain panel in shopify and select Done. Then select Add Existing Domain, and fill in the www portion of the url. Copy the listed url to edit the CNAME record for the DNS information.</li>

                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-9_zps745dfd2e.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-9_zps745dfd2e.png~original"  alt=" "></a>

                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-10_zpsbae82e7a.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-10_zpsbae82e7a.png~original"  alt=" "></a>

                <li>8. In the DNS dropdown, navigate the CNAME. Delete all information and only have www route to the shopify url of the athlete.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-4_zps8d010a12.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-4_zps8d010a12.png~original"  alt=" "></a>

                <li>9. In the Shopify Domain panel, select done. The site will now take time to populate. Revisit the domain settings in Shopify and see all options listed ask "Ok" to verify the site has completed launch.</li>

                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-12_zps5f41a72b.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-12_zps5f41a72b.png~original"  alt=" "></a>

                <li>10. Once the site has been moved to our Shopify Plus account (will see a shopify plus badge in the admin panel or be notified from Christian), return to the DNS information for the CNAME records. Change the shopify url to the shopify SSL url. ie: markus-wheaton.myshopify.com --> ssl.shopify.com.</li>

                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-7_zpsa92d22a4.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/launch/launch-7_zpsa92d22a4.png~original"  alt=" "></a>
            </ul>