
                <ul>
                    <li>1. Use this link to find instructions for where the domain is registered: https://support.google.com/a/topic/1611273?hl=en&ref_topic=2683820. Our domains are usually registered with Netfirms: https://support.google.com/a/answer/174125. Select the registar and select the link that says MX record values. That link will display a table like so:</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/MX/mx-1_zps57028c2b.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/MX/mx-1_zps57028c2b.png~original"  alt=" "></a>

                    <li>2. Use the values from the table to fill in the information for the MX records in Netfirms. (Delete all records there **unless domain transfer.)</li>
                    <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/MX/mx-2_zps8b27eea2.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/MX/mx-2_zps8b27eea2.png~original"  alt=" "></a>
                </ul>