
            <p>When a new athlete is created, a new newsletter key must be generated. To do this, follow the steps below:</p>
            <ul>
                <li>1. Log into Sendy: <a href="http://162.242.147.250/sendy/login">Sendy Link.</a></li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-1_zpsa9031bbc.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-1_zpsa9031bbc.png~original"  alt=" "></a>

                <li>2. Add a new Brand for the new athlete. Enter in the "New Brand" information like so, ignoring all other settings input.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-3_zps8f3da7c3.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-3_zps8f3da7c3.png~original"  alt=" "></a>


                <li>3. Select "New Athlete" from the Brand list, and then select "View all lists" form the left hand navigation.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-4_zps29cdaec9.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-4_zps29cdaec9.png~original"  alt=" "></a>

                <li>4. Add a New list title "Newsletter". One added, select "View all lists" again from the left hand navigation to view the newsletter ID.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-5_zps1fd7999a.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-5_zps1fd7999a.png~original"  alt=" "></a>

                <li>5. Click on edit --> in subscribe success page section, enter in url where user will be redirected after signing up for a newsletter. Scroll down and save.
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news55_zpseeb33f6d.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news55_zpseeb33f6d.png~original"  alt=" "></a>

                <li>6. Copy the ID field for the newsletter, and paste this in the Sendy field for the athlete.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-6_zpsa787a246.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/news/news-6_zpsa787a246.png~original"  alt=" "></a>
            </ul>

            <hr>