
            <p>To add a pre-built page for a new athlete,</p>
            <ul>
                <li>1. Log into Shopify and select Pages.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-1_zps56c768c6.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-1_zps56c768c6.png~original"  alt=" "></a>

                <li>2. Inside Pages, select Add A Page</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-2_zps26075073.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-2_zps26075073.png~original"  alt=" "></a>

                <li>3. Give the page the correct title, and make certain to select the correct page template from the template dropdown.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-3_zpsb27779d5.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/pages/page-3_zpsb27779d5.png~original"  alt=" "></a>
            </ul>