    <ul class="nav nav-stacked" id="sidebar">
        <li><a href="#sec0">Request A Font</a></li>
        <li><a href="#sec1">Create Newsletter</a></li>
        <li><a href="#sec2">Gallery & Video Uploads</a></li>
        <li><a href="#sec3">Google Site Verfication</a></li>
        <li><a href="#sec3">Google Analytics</a></li>
        <li><a href="#sec3">Facebook Pixel</a></li>
        <li><a href="#sec4">META Information</a></li>
        <li><a href="#sec4">Facebook Refresh</a></li>
        <li><a href="#sec4">Adding A Page To Shopify</a></li>
        <li><a href="#sec4">Adding Disqus</a></li>
        <li><a href="#sec4">Twitter Verification</a></li>
        <li><a href="#sec4">Domain Information for Launch</a></li>
        <li><a href="#sec4">Change MX Records For Email</a></li>
    </ul>