<h2 id="sec4">Twitter Verification</h2>
            <ul>
                <li>1. Log into twitter and select the settings dropdown.</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-1_zpsb9e82dcd.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-1_zpsb9e82dcd.png~original"  alt=" "></a>

                <li>2. Select Widgets from the left hand menu and select Create Widget.</li>
            <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-2_zps789f88ce.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-2_zps789f88ce.png~original"  alt=" "></a>

                <li>3. Add the twitter handle for the athlete and save.</li>
            <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-3_zpsa39101db.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-3_zpsa39101db.png~original"  alt=" "></a>

                <li>4. Only select the numbers from the data-widget-id portion of the script code.</li>
            <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-4_zps0c9d6fb9.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/twitter/twitter-4_zps0c9d6fb9.png~original"  alt=" "></a>

            <li>5. Paste this information into the Shopify Back end for twitter ID/ twitter handle.</li>
        </ul>