
            <p>In order to complete the site launch, the developers will need a Google Meta Tag for site verification. To do this:,</p>
            <ul>
                <li>1. Log into Webmaster Tools with access.</li>
                <li>2. Select or add the website you wish to verify.</li>
                <li>3. Select alternative method, and supply the developers with the HTML Tag method output</li>
                <a class="thumbnail image-popup-vertical-fit" href="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/gv-1_zps008ba307.png~original" title=" "><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Anthrodocs/gv-1_zps008ba307.png~original"  alt=" "></a>
                <li>4. After the developers have imported the meta tag, select Verify at the bottom to finish site verification</li>
                <li>5. *NOTE: If another google/anthro email trys to verify the site, it will not verify. Each account is given a unique Meta Goolge Tag, so that same account is the one that must check verification in the future</li>
            </ul>

            <hr>